html, body {
  scroll-behavior: smooth;
  --main-bg-color: #023020;
  --main-text-color: beige;
  --link-color: #9FE2BF;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: serif;
  margin: 0;
}

.content {
  margin: 4rem 1rem 0;
}

article {
  scroll-margin-top: 4rem;
  transition: transform 1s ease-in-out,opacity .8s ease-in-out;
}

footer {
  margin-top: 5rem;
}

.footer-text {
  text-align: center;
}


/* Nav */
nav {
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 5px var(--main-bg-color);
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--link-color);
}

nav a:hover, .selected {
  background-color: var(--link-color);
  color: var(--main-bg-color);
}


/* Contacts */
.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-link {
  color: var(--link-color);
  width: fit-content;
}

.contact-link:hover {
  background-color: var(--link-color);
  color: var(--main-bg-color);
}


/* Projects */
.project-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

@media (max-width: 600px) {
  .project-container {
    flex-direction: column;
  }
}

.project-description {
  height: 10em;
  background-color: var(--main-text-color);
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 1s ease-in;
}

.project-description p {
  color: var(--main-bg-color);
}

.project {
  background-color: beige;
  height: 7em;
  flex-grow: 1;
  transition: 0.3s;
  opacity: 0.7;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project:hover {
  cursor: pointer;
  opacity: 1;
}